h1{
    color: blue;
}

#header{
    background-color: lightsalmon;
    text-align: center;
}
blockquote{
    background-color: yellow;
    border: 1px dotted black;
}

.gambar{
    text-align: center;
}

.nav{
    text-align: center;
}

.nav ul{
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0em 1em;
}

.nav ul li{
    margin: 0em 1em;
}

.jawa{
    color: blue;
    font-size: 28px;
}

body{
    background-color: lightblue;
}